 
 
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title th:text="${essay.title}"></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <script th:src="@{/res/js/jquery-3.3.1.js}"></script>
  <link rel="stylesheet" href="../../res/layui/css/layui.css" th:href="@{/res/layui/css/layui.css}">
  <link rel="stylesheet" href="../../res/css/global.css" th:href="@{/res/css/global.css}">
</head>
<body>

<div th:replace="index::fra_topbar"></div>
<div th:replace="index::fra_nav(index)"></div>

<div class="layui-container">
  <div class="layui-row layui-col-space15" style="width: 1000px;margin: 0 auto;">
    <div class="layui-col-md15 content detail">
      <div class="fly-panel detail-box">
        <h1 th:text="${essay.title}">模版</h1>
        <div class="fly-detail-info">
          <span class="layui-badge layui-bg-green fly-detail-column">游记分享</span>
          
          <div class="fly-admin-box" data-id="123">
          </div>
          <span class="fly-list-nums"> 
            <a href="#comment"><i class="iconfont" title="回答">&#xe60c;</i>[[${essay.commentNum}]]</a>
            <i class="iconfont" title="人气">&#xe60b;</i> [[${essay.view}]]
          </span>
        </div>
        <div class="detail-about">
          <a class="fly-avatar" href="/user/home" th:href="@{'/user/home/'+${essay.userId}}">
            <img th:src="@{${essay.userAvatar}}" src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg" alt="贤心">
          </a>
          <div class="fly-detail-user">
            <a th:href="@{'/user/home/'+${essay.userId}}" class="fly-link">
              <cite th:text="${essay.username}">tomato</cite>
              <i class="iconfont icon-renzheng" title="认证信息：{{ rows.user.approve }}"></i>
              <i class="layui-badge fly-badge-vip">VIP</i>
            </a>
            <span th:text="${#dates.format(essay.createTime,'yyyy-MM-dd HH:mm')}">2017-11-30</span>
          </div>
          <div class="detail-hits" id="LAY_jieAdmin" data-id="123">
            <span style="padding-right: 10px; color: #FF7200">城市：[[${essay.city}]]</span>
            <span style="padding-right: 10px; color: #008e61">详细位置：[[${essay.position}]]</span>
          </div>
        </div>
        <div class="detail-body photos" th:text="${essay.content}">
        </div>
        <div>
          <hr>
          <li th:data-id="${essay.id}">
          <div class="jieda-reply">
            <span class="jieda-zan " type="zan" th:class="${essay.booleanVote==true?'jieda-zan zanok':'jieda-zan '}">
                  <i class="iconfont icon-zan"></i>
                  <em th:text="${essay.vote}">66</em>
            </span>
          </div>
          </li>
        </div>
      </div>

      <div class="fly-panel detail-box" id="flyReply">
        <fieldset class="layui-elem-field layui-field-title" style="text-align: center;">
          <legend>回帖</legend>
        </fieldset>

        <ul class="jieda" id="jieda">
          <li th:data-id="${comment.id}" class="jieda-daan" th:each="comment:${comments}">
            <a name="item-1111111111"></a>
            <div class="detail-about detail-about-reply">
              <a class="fly-avatar" href="" th:href="@{'/user/home/'+${comment.userId}}">
                <img th:src="@{${comment.userAvatar}}" src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg" alt=" ">
              </a>
              <div class="fly-detail-user">
                <a href="" class="fly-link">
                  <cite th:text="${comment.username}">贤心</cite>
                  <i class="iconfont icon-renzheng" title="认证信息：XXX"></i>
                  <i class="layui-badge fly-badge-vip">VIP[[${comment.userLevel}]]</i>
                </a>
                <span th:if="${comment.booleanFloorHost}">(我)</span>
                <span th:if="${comment.booleanAuthor}" style="color:#ff442d">(作者)</span>
              </div>

              <div class="detail-hits">
                <span th:text="${#dates.format(comment.createTime,'yyyy-MM-dd')}">2017-11-30</span>
              </div>
            </div>
            <div class="detail-body jieda-body photos" th:text="${comment.content}">
            </div>
            <div class="jieda-reply">
              <span type="reply">
                <i class="iconfont icon-svgmoban53"></i>
                回复
              </span>
              <div class="jieda-admin">
                <span type="del" th:if="${comment.booleanCurrentUserAuthor||comment.booleanFloorHost}">删除</span>
              </div>
            </div>
          </li>
        </ul>
        
        <div class="layui-form layui-form-pane">
          <form id="reply-form"  method="post">
            <input type="hidden" name="essayId" th:value="${essay.id}">
            <input type="hidden" name="pid" value="0">
            <div class="layui-form-item layui-form-text">
              <a name="comment"></a>
              <div class="layui-input-block">
                <textarea id="L_content" name="content" required lay-verify="required" placeholder="请输入内容"  class="layui-textarea fly-editor" style="height: 150px;"></textarea>
              </div>
            </div>
          </form>

          <div class="layui-form-item">
              <!--<input type="hidden" name="jid" value="123">-->
              <button class="layui-btn" id="reply-btn">提交回复</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fly-footer" th:replace="index::fra_footbar"></div>
<script th:src="@{/res/js/page/detail.js}"></script>
<script src="../../res/layui/layui.js" th:href="@{/res/layui/layui.js}"></script>
<script>
layui.cache.page = 'jie';
layui.config({
  version: "3.0.0"
  ,base: '../../res/mods/'
}).extend({
  fly: 'index'
}).use(['fly', 'face'], function(){
  var $ = layui.$
  ,fly = layui.fly;
  //如果你是采用模版自带的编辑器，你需要开启以下语句来解析。
  $('.detail-body').each(function(){
    var othis = $(this), html = othis.html();
    othis.html(fly.content(html));
  });
});
</script>

</body>
</html>