
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>用户中心</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="../res/layui/css/layui.css" th:href="@{/res/layui/css/layui.css}">
  <link rel="stylesheet" href="../res/css/global.css" th:href="@{/res/css/global.css}">
</head>
<body>

<div th:replace="index::fra_topbar"></div>

<div class="layui-container fly-marginTop fly-user-main">
  <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user" th:fragment="fra_nav(nav_active)">
    <li class="layui-nav-item" >
      <a href="home.html" th:href="@{/user/home}">
        <i class="layui-icon">&#xe609;</i>
        我的主页
      </a>
    </li>
    <li class="layui-nav-item" th:class="${nav_active==null?'layui-nav-item layui-this':'layui-nav-item'}">
      <a href="index.html" th:href="@{/user/index}">
        <i class="layui-icon">&#xe612;</i>
        用户中心
      </a>
    </li>
    <li class="layui-nav-item" th:class="${nav_active=='set'?'layui-nav-item layui-this':'layui-nav-item'}">
      <a href="set.html" th:href="@{/user/set}">
        <i class="layui-icon">&#xe620;</i>
        基本设置
      </a>
    </li>

  </ul>

  <div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
  </div>
  <div class="site-mobile-shade"></div>
  
  <div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
  </div>
  <div class="site-mobile-shade"></div>
  
  
  <div class="fly-panel fly-panel-user" pad20>
    <div class="layui-tab layui-tab-brief" lay-filter="user">
      <ul class="layui-tab-title" id="LAY_mine">
        <li data-type="mine-jie" lay-id="index" class="layui-this">我发的帖（<span th:text="${essaysCount}">89</span>）</li>
        <li data-type="collection" data-url="/collection/find/" lay-id="collection">我收藏的帖（<span>0</span>）</li>
      </ul>
      <div class="layui-tab-content" style="padding: 20px 0;">
        <div class="layui-tab-item layui-show">
          <ul class="mine-view jie-row">
            <li th:each="essay:${essays}">
              <a class="jie-title" th:href="@{/essay/}+${essay.id}" target="_blank">[[${essay.title}]]</a>
              <i th:text="${#dates.format(essay.createTime,'yyyy-MM-dd HH:mm:ss')}">2017/3/14 上午8:30:00</i>
              <em>阅/答</em>
            </li>
          </ul>
          <div id="LAY_page"></div>
        </div>
        <div class="layui-tab-item">
          <ul class="mine-view jie-row">
            <li>
              <a class="jie-title" href="../jie/detail.html" target="_blank">基于 layui 的极简社区页面模版</a>
              <i>收藏于23小时前</i>
            </li>
          </ul>
          <div id="LAY_page1"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div th:replace="index::fra_footbar"></div>


<script src="../../res/layui/layui.js" th:href="@{/res/layui/layui.js}"></script>
<script>
layui.cache.page = 'user';
layui.config({
  version: "3.0.0"
  ,base: '../../res/mods/'
}).extend({
  fly: 'index'
}).use('fly');
</script>

</body>
</html>