
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>帐号设置</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="fly,layui,前端社区">
  <meta name="description" content="Fly社区是模块化前端UI框架Layui的官网社区，致力于为web开发提供强劲动力">
  <link rel="stylesheet" href="../res/layui/css/layui.css" th:href="@{/res/layui/css/layui.css}">
  <link rel="stylesheet" href="../res/css/global.css" th:href="@{/res/css/global.css}">
  <script th:src="@{/jquery-1.8.3.min.js}"></script>
</head>
<body>

<div th:replace="index::fra_topbar"></div>

<div class="layui-container fly-marginTop fly-user-main">
  <ul th:replace="user/index::fra_nav(set)"></ul>

  <div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
  </div>
  <div class="site-mobile-shade"></div>
  
  <div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
  </div>
  <div class="site-mobile-shade"></div>
  
  
  <div class="fly-panel fly-panel-user" pad20>
    <div class="layui-tab layui-tab-brief" lay-filter="user">
      <ul class="layui-tab-title" id="LAY_mine">
        <li class="layui-this" lay-id="info">我的资料</li>
        <!--<li lay-id="avatar">头像</li>-->
        <li lay-id="pass">密码</li>
        <!--<li lay-id="bind">帐号绑定</li>-->
      </ul>
      <div class="layui-tab-content" style="padding: 20px 0;">
        <div class="layui-form layui-form-pane layui-tab-item layui-show">
          <form id="set-form" method="post" >
            <div class="layui-form-item">
              <label  class="layui-form-label">昵称</label>
              <div class="layui-input-inline">
                <input type="text" disabled autocomplete="off" value="" th:value="${user.name}" class="layui-input">
              </div>
            </div>
            <div class="layui-form-item">
              <label for="L_email" class="layui-form-label">邮箱</label>
              <div class="layui-input-inline">
                <input type="text" id="L_email" name="email" th:value="${user.email}" required lay-verify="email" autocomplete="off" value="" class="layui-input">
              </div>
              <div class="layui-inline">
                <div class="layui-input-inline">
                  <input type="radio" name="sex" value="男" th:checked="${user.sex=='男'}" title="男">
                  <input type="radio" name="sex" value="女" th:checked="${user.sex=='女'}" title="女">
                </div>
              </div>
            </div>
            <div class="layui-form-item">
              <label for="L_phone" class="layui-form-label">电话</label>
              <div class="layui-input-inline">
                <input type="text" id="L_phone" name="phone" autocomplete="off" value="" th:value="${user.phone}" class="layui-input">
              </div>
            </div>
            <div class="layui-form-item layui-form-text">
              <label for="L_sign" class="layui-form-label">签名</label>
              <div class="layui-input-block">
                <textarea placeholder="随便写些什么刷下存在感" id="L_sign"  name="introduce" autocomplete="off" class="layui-textarea" style="height: 80px;" >[[${user.introduce}]]</textarea>
              </div>
            </div>
          </form>
            <div class="layui-form-item">
              <button class="layui-btn" id="set-btn">确认修改</button>
            </div>
          </div>
          
          <div class="layui-form layui-form-pane layui-tab-item">
            <form th:action="@{/user/repass}" method="post">
              <div class="layui-form-item">
                <label for="L_nowpass" class="layui-form-label">当前密码</label>
                <div class="layui-input-inline">
                  <input type="password" id="L_nowpass" name="nowpass" required lay-verify="required" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <label for="L_pass" class="layui-form-label">新密码</label>
                <div class="layui-input-inline">
                  <input type="password" id="L_pass" name="pass" required lay-verify="required" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">6到16个字符</div>
              </div>
              <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label">确认密码</label>
                <div class="layui-input-inline">
                  <input type="password" id="L_repass" name="repass" required lay-verify="required" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <button class="layui-btn" key="set-mine"  lay-submit>确认修改</button>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div th:replace="index::fra_footbar"></div>


<script src="../../res/layui/layui.js" th:href="@{/res/layui/layui.js}"></script>
<script>
    layui.use('layer', function(){
        var layer = layui.layer;
        $("#set-btn").click(function () {
            $.ajax({
                type: "POST",
                url: '/user/edit',
                dataType: "json",
                data:$("#set-form").serialize(),
                success: function (res) {
                    if(res.status==0){
                        layer.msg('修改成功', {
                            icon: 1
                            ,time: 2000
                            ,shade: 0.1
                        }, function(){
                            //location.reload();
                        });
                    }else{
                        layer.msg(res.msg);
                    }

                },
                error: function (res) {
                    alert("数据获取失败");
                }
            });
        });
    });
</script>
<script>
layui.cache.page = 'user';
layui.config({
  version: "2.0.0"
  ,base: '../../res/mods/'
}).extend({
  fly: 'index'
}).use('fly');
</script>

</body>
</html>