<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.imhtb.dao.EssayMapper">
  <resultMap id="BaseResultMap" type="cn.imhtb.pojo.Essay">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="sub_title" jdbcType="VARCHAR" property="subTitle" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="sub_image" jdbcType="VARCHAR" property="subImage" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="sub_content" jdbcType="VARCHAR" property="subContent" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="view" jdbcType="INTEGER" property="view" />
    <result column="vote" jdbcType="INTEGER" property="vote" />
    <result column="city" jdbcType="VARCHAR" property="city" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, category_id, title, sub_title, image, sub_image, content, sub_content, 
    create_time, update_time, position, view, vote, city
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tmt_essay
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tmt_essay
  </select>
    <select id="selectByUserIdWithSelective" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List" />
      from tmt_essay
      where user_id = #{userId}
      <if test="count != null">
        LIMIT #{count}
      </if>
    </select>
  <select id="selectCountByUserId" resultType="java.lang.Integer">
      select count(*) from tmt_essay where user_id = #{userId}
  </select>
    <select id="selectTopHotCities" resultType="cn.imhtb.vo.CityVo">
      select city name,count(*) number from tmt_essay GROUP BY city ORDER BY number desc limit #{limit}
    </select>
  <select id="selectHotVotesEssay" resultType="cn.imhtb.vo.HotEssayVo">
      select id,vote number,title,city  from tmt_essay order by vote desc limit #{limit}
  </select>
  <select id="selectHotViewsEssay" resultType="cn.imhtb.vo.HotEssayVo">
      select id,view number,title,city  from tmt_essay order by view desc limit #{limit}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tmt_essay
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.imhtb.pojo.Essay">
    insert into tmt_essay (id, user_id, category_id, 
      title, sub_title, image, 
      sub_image, content, sub_content, 
      create_time, update_time, position, 
      view, vote, city)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{categoryId,jdbcType=INTEGER}, 
      #{title,jdbcType=VARCHAR}, #{subTitle,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR}, 
      #{subImage,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{subContent,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{position,jdbcType=VARCHAR}, 
      #{view,jdbcType=INTEGER}, #{vote,jdbcType=INTEGER}, #{city,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.imhtb.pojo.Essay">
    insert into tmt_essay
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="subTitle != null">
        sub_title,
      </if>
      <if test="image != null">
        image,
      </if>
      <if test="subImage != null">
        sub_image,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="subContent != null">
        sub_content,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="position != null">
        position,
      </if>
      <if test="view != null">
        view,
      </if>
      <if test="vote != null">
        vote,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="subTitle != null">
        #{subTitle,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="subImage != null">
        #{subImage,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="subContent != null">
        #{subContent,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="position != null">
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="view != null">
        #{view,jdbcType=INTEGER},
      </if>
      <if test="vote != null">
        #{vote,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.imhtb.pojo.Essay">
    update tmt_essay
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="subTitle != null">
        sub_title = #{subTitle,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="subImage != null">
        sub_image = #{subImage,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="subContent != null">
        sub_content = #{subContent,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="position != null">
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="view != null">
        view = #{view,jdbcType=INTEGER},
      </if>
      <if test="vote != null">
        vote = #{vote,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.imhtb.pojo.Essay">
    update tmt_essay
    set user_id = #{userId,jdbcType=INTEGER},
      category_id = #{categoryId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      sub_title = #{subTitle,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR},
      sub_image = #{subImage,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      sub_content = #{subContent,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      position = #{position,jdbcType=VARCHAR},
      view = #{view,jdbcType=INTEGER},
      vote = #{vote,jdbcType=INTEGER}
      city = #{city,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="vote" parameterType="int">
      UPDATE tmt_essay SET vote = vote + 1 WHERE id = #{id}
    </update>
</mapper>